<div class="col-sm-12 row">
    <div class="col-sm-10 form-group">
        @Html.Label("WorkoutNameTxt", "Workout Name")
        <input id="WorkoutNameTxt" class="form-control" type="text" />
    </div>
    <div class="col-sm-10 form-group">
        @Html.Label("WorkoutTimeSpan", "Number of Weeks")
        <input id="WorkoutTimeSpan" class="form-control" type="number" />
    </div>
    <div class="col-sm-10 form-group">
        @Html.Label("DaysPerWeek", "Days per Week")
        <input id="DaysPerWeek" class="form-control" type="number" />
    </div>
    <div class="col-sm-10 form-group">
        @Html.Label("lblWorkoutDays", "Select Days") <br />
        @Html.RadioButton("Sunday", 1) Sun
        @Html.RadioButton("Monday", 2) Mon <br />
        @Html.RadioButton("Tuesday", 3) Tue
        @Html.RadioButton("Wednesday", 4) Wed <br />
        @Html.RadioButton("Thursday", 5) Thu
        @Html.RadioButton("Friday", 6)  Fri <br />
        @Html.RadioButton("Satudray", 7) Sat
    </div>
    <div class="col-sm-10 form-group">
        @Html.Label("lblStartDate", "Start Date")
        <input id="dtStartDate" class="form-control" type="date" />
    </div>
    <div class="col-sm-10 form-group">
        @Html.Label("WorkoutDescriptionTxt", "Description")
        <textarea id="WorkoutDescriptionTxt" class="form-control" col rows="3"></textarea>
    </div>
    <div class="col-sm-10 form-group">
        <input type="submit" id="btnBasicProgramInformation" value="Next &raquo;" class="btn btn-primary pull-right close" data-dismiss="modal"/>
    </div>
</div>

