@model List<ExerciseProgram.Models.ViewModels.ExerciseViewModel>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#MuscleGroupSelect").change(function () {

            $.ajax({
                url: '/Exercise/Exercise/bicep',
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: { muscleGroupName: 'bicep' },
                async: true,
                processData: true,
                cache: false
            });

            $("#ExerciseSelect").prop("disabled", false);
        });
    });
</script>

<div class="col-sm-12 row">
    <div class="col-sm-10 row">
        <div class="col-sm-10 form-group">
            @Html.Label("MuscleGroupSelectLbl", "Muscle Group")
            @Html.DropDownList("MuscleGroupSelect",
                        new SelectList(Model.Select(x => x.MuscleGroupName)),
                        "---Select Muscle Group---",
                        new { @class = "form-control" })
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("ExerciseSelectLbl", "Exercise")
            @Html.DropDownList("ExerciseSelect",
                        new SelectList(Model.Select(x => x.ExerciseDescription)),
                        "---Select Exercise---",
                        new { @class = "form-control" })
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("lblRepitionsInput", "Repititions")
            <input id="RepitionsInput" class="form-control" type="number" placeholder="Reps" />

        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("lblSetsInput", "Sets")
            <input id="SetsInput" class="form-control" type="number" placeholder="Sets" />
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("lblDayOfWeek", "Select Day")
            @Html.DropDownList("ddlDayOfWeek",
                             new SelectList(Model.Select(x => x.ExerciseDescription)),
                             "---Select Day---",
                             new { @class = "form-control" })
        </div>
    </div>
</div>

