@model ExerciseProgram.Models.ViewModels.ProgramViewModel

    <div id="divSuccess" class="container">
        <div class="row margin-top-20px">
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert">
                    Basic Program Info Saved!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


<input hidden="hidden" id="txtProgramId" />

<div class="container">
    <div class="container border background-white-smoke margin-top-20px">
        <div class="row margin-top-20px">
            <div class="col-sm-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <form id="myForm">
                        <h3>Create Progam</h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <b>@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</b>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "50 character limit", id = "txtName" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" }) <br />
                        <b><label>Emphasis</label></b>
                        <select class="form-control">
                            <option>
                                -- Select --
                            </option>
                            <option>
                                Strength
                            </option>
                            <option>
                                Cardio
                            </option>
                            <option>
                                Hybrid
                            </option>
                        </select> <br />
                        <b>@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })</b>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-sm-12", @rows = 5, placeholder = "250 character limit", id = "txtDescription" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" }) <br />
                        <div class="row margin-bottom-20px">
                            <div class="col">
                                <hr />
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <input type="submit" id="btnSubmit" class="btn btn-primary btn-sm" value="Save Basic Info" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="divBasicProgramInfo" class="container border margin-top-20px background-white-smoke">
        <div class="row margin-top-20px">
            <div class="col">
                <h3>
                    Weekly Schedule
                </h3>
                <hr />
            </div>
        </div>


        <div class="row margin-top-20px">

            <div class="col">
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light table">
                        <tr>
                            <th>
                                Week #
                            </th>
                            <th>
                                Days
                            </th>
                            <th>
                                Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="trProgramId" style="cursor:pointer">
                            <td>
                                1
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                <a href="#">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
            </div>
        </div>
        <div class="row margin-bottom-20px">
            <div class="col">
                <hr />
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        
                        <input type="button" id="btnAddWeek" class="btn btn-primary btn-sm" value="Add Week" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#divSuccess").hide();
        $("#divBasicProgramInfo").hide();

        $("#btnSubmit").click(function (event) {

            event.preventDefault();

            var name = $("#txtName").val();
            var description = $("#txtDescription").val();

            var posting = $.post("/ExerciseProgram/CreateExerciseProgram", { name: name, description: description, lengthInDays: 1 });

            posting.done(function (data) {
                $("#divSuccess").show();
                $("#divBasicProgramInfo").show();
                $("#btnAddWeek").focus();
            });

        });

    });
</script>