@model ExerciseProgram.Models.ViewModels.ProgramViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="divSuccess" class="container">
    <div class="row margin-top-20px">
        <div class="col-sm-12">
            <div id="divSuccess" class="alert show fade alert-success" role="alert">
                Saved Successfully
            </div>
        </div>
    </div>
</div>
<input hidden id="whatever" />
<div class="container">
    <div id="divExerciseGrid" class="margin-top-20px container border background-white-smoke">
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col-sm-12">
                <h4>Workout for @DateTime.Today.ToShortDateString()</h4>
                <hr />
            </div>
            @{
                if (Model != null)
                {
                    <div class="col-sm-12 margin-bottom-20px">
                        <span><b>Workout Name</b>&#9999;</span>
                        <input id="txtWorkoutName" class="form-control" disabled value="@Model.Name" />
                    </div>
                    <div class="col-sm-12">
                        <span><b>Workout Description</b>&#9999;</span>
                        <textarea id="txtWorkoutDescription" rows="4" class="col-sm-12 form-control" disabled>@Model.Description</textarea>
                    </div>
                }
            }
        </div>
        <div class="row margin-bottom-20px">
            <div class="col">
                <hr />
                @{
                    if (Model != null)
                    {
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-1" role="group" aria-label="First group">
                                <button id="btnSaveWorkout" class="btn btn-sm btn-outline-primary btn-toolbar-width-medium">Add Exercise</button>
                            </div>
                            <div class="btn-group mr-1" role="group" aria-label="First group">
                                <button id="btnMarkComplete" class="btn btn-sm btn-outline-secondary btn-toolbar-width-medium float-right">Mark Complete</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                @{
                    var exerciseCount = 0;
                    if (Model != null)
                    {
                        exerciseCount = Model.Exercises != null ? Model.Exercises.Count : 0;
                    }
                }
                <input hidden="hidden" id="txtExerciseCount" value="@exerciseCount" />
                @if (exerciseCount > 0)
                {
                    <h4>
                        Resitance Training
                    </h4>
                    <table id="tblExerciseSummary" class="table">
                        @foreach (var exercise in Model?.Exercises)
                        {
                            var collapseId = "collapse" + exercise.ExerciseProgramFk + exercise.Id;

                            <thead class="exercise-header-expand thead-dark">
                                <tr>
                                    <th colspan="4" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                                        <span>
                                            <b>@exercise.Exercise.Description (@exercise.Sets sets)</b>
                                            <text class="exercise-expand float-right">&#x2795;</text>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <table id="@collapseId" class="collapse table-hover table-sm col-sm-12">
                                        <tbody>
                                            @for (var set = 1; set <= exercise.Sets; set++)
                                            {

                                            <tr class="exercise-name">
                                                @if (set == 1)
                                                {
                                                    <td class="exercise-set-header">
                                                        <b>Set</b>
                                                    </td>
                                                    <td class="exercise-set-header">
                                                        <b>Reps</b>
                                                    </td>
                                                    <td class="exercise-set-header">
                                                        <b>Weight</b>
                                                    </td>
                                                    <td class="exercise-set-header"></td>
                                                }
                                            </tr>
                                                <tr id="@exercise.Id" class="program-name">
                                                    <td>
                                                        <input readonly class="form-control-plaintext exercise-set" disabled value="@set" type="number" />
                                                    </td>
                                                    @{
                                                        var setReps = Model.SetsReps.Where(x => x.ProgramId == Model.Id && x.ExerciseId == exercise.Id && x.Set == set).FirstOrDefault();
                                                        var reps = setReps?.Reps;
                                                        var weight = setReps?.Weight;
                                                    }
                                                    <td>
                                                        <input class="input-weight-used form-control-sm input-changed exercise-reps" value="@reps" type="number" />
                                                    </td>
                                                    <td class="td-reps-duration">
                                                        <input class="input-weight-used form-control-sm input-changed exercise-weight" value="@weight" type="number" />
                                                    </td>
                                                    <td>
                                                        <text class="btn-save-exercise">&#x2705;</text>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div>
                        <h4>
                            No exercises to show.
                        </h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <input hidden="hidden" value="@Model.Id" id="txtHiddenProgramId" />
    <input hidden="hidden" value="@Model.Complete" id="txtWorkoutComplete" />
}
<script>
    $(document).ready(function () {

        $(".exercise-header-expand").click(function () {
            var text = $(this).find(".exercise-expand").text();

            if (text == "➕") {
                $(this).find(".exercise-expand").text("➖");
            } else {
                $(this).find(".exercise-expand").text("➕");
            }
        });

        $("#btnSaveWorkout").click(function () {
            var programId = $("#txtHiddenProgramId").val();
            var workoutName = $("#txtWorkoutName").val();
            var workoutDescription = $("#txtWorkoutDescription").val();
            var posting = $.post("/ExerciseProgram/UpdateExerciseProgram",
                {
                    id: programId,
                    name: workoutName,
                    description: workoutDescription,
                    lengthInDays: 1
                },
                function () {
                    $("#divSuccess").show();
                    $("#divSuccess").fadeOut(10000);
                });
        });

        //if ($("#txtWorkoutComplete").val()) {
        //    $(".exercise-reps").each(function () {
        //        $(this).prop("disabled", true);
        //        $(this).removeClass("form-control-sm").addClass("form-control-plaintext");
        //    });
        //    $(".exercise-weight").each(function () {
        //        $(this).prop("disabled", true);
        //        $(this).removeClass("form-control-sm").addClass("form-control-plaintext");
        //    });
        //}

        $(".btn-save-exercise").each(function () {
            $(this).addClass("text-disabled");
        });

        if ($("#txtExerciseCount").val() == 0) {
            $("#tblExerciseSummary").hide();
            $("#btnMarkComplete").hide();
        };

        $("#divSuccess").hide();

        $("#btnAddExercise").click(function () {

            var programId = $("#txtHiddenProgramId").val();

            $(location).attr('href', '/Exercise/Exercise/' + programId);
        });

        $(".input-changed").change(function () {

            var reps = $(this).closest(".program-name").find(".exercise-reps").val();
            var weight = $(this).closest(".program-name").find(".exercise-weight").val();

            if (reps > 0 && weight > 0) {
                $(this).closest(".program-name").find(".btn-save-exercise").removeClass("text-disabled").addClass("text-enabled");
            }
            else {
                $(this).closest(".program-name").find(".btn-save-exercise").removeClass("text-enabled").addClass("text-disabled");
            }
        });

        $(".btn-save-exercise").click(function () {

            var thisId = $(this);

            var programId = $("#txtHiddenProgramId").val();
            var exerciseId = $(this).closest(".program-name").attr("id");
            var set = $(this).closest(".program-name").find(".exercise-set").val();
            var reps = $(this).closest(".program-name").find(".exercise-reps").val();
            var weight = $(this).closest(".program-name").find(".exercise-weight").val();

            $.post("/ExerciseProgram/SaveExercise",
                {
                    programId: programId,
                    exerciseId: exerciseId,
                    set: set,
                    reps: reps,
                    weight: weight
                },
                function () {
                    $(thisId).removeClass("text-enabled").addClass("text-disabled");
                });
        });

        $("#btnMarkComplete").click(function () {

            var programId = $("#txtHiddenProgramId").val();

            $.post("/ExerciseProgram/CompleteWorkout",
                {
                    programId: programId
                },
                function () {
                    $(location).attr('href', '/Home/Index/');
                });
        });
    });
</script>