@model ExerciseProgram.Models.ViewModels.ProgramViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@*<div id="divSuccess" class="container">
    <div class="row margin-top-20px">
        <div class="col-sm-12">
            <div id="divSuccess" class="alert show fade alert-success" role="alert">
                Saved Successfully
            </div>
        </div>
    </div>
</div>*@
<input hidden id="whatever" />
<div class="container">
    <div id="divExerciseGrid" class="margin-top-20px container border background-white-smoke">
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                <h4>Workout for @DateTime.Today.ToShortDateString()</h4>
                @{ 
                    if (Model.Complete)
                    {
                        <div>
                            Workout Completed
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row margin-top-20px margin-bottom-20px">
            <div class="col">
                @{
                    var exerciseCount = Model.Exercises != null ? Model.Exercises.Count : 0;
                }
                <input hidden="hidden" id="txtExerciseCount" value="@exerciseCount" />
                <table id="tblExerciseSummary" class="table table-hover table-sm">
                    <thead class="thead-light table">
                        <tr>
                            <th colspan="1">
                                Exercise
                            </th>
                            <th colspan="1">
                                Set
                            </th>
                            <th colspan="1">
                                Reps
                            </th>
                            <th colspan="1">
                                Weight
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exercise in Model.Exercises)
                        {
                            for (var set = 1; set <= exercise.Sets; set++)
                            {
                                <tr>
                                    @if (set == 1)
                                    {
                                        <td colspan="4">
                                            <b>@exercise.Exercise.Description</b>
                                        </td>
                                    }
                                </tr>
                                <tr id="@exercise.Id" class="program-name">
                                    <td>
                                        <input class="btn btn-sm btn-success btn-save-exercise float-right form-control-sm form-control-plaintext" value="Save"/>
                                    </td>
                                    <td>
                                        <input readonly class="form-control-plaintext exercise-set" value="@set" type="number" />
                                    </td>
                                    <td>
                                        @{
                                            var reps = string.Empty;
                                            var weight = string.Empty;
                                            var setReps = Model.SetsReps.Where(x => x.ProgramId == Model.Id && x.ExerciseId == exercise.Id && x.Set == set).FirstOrDefault();

                                            if (setReps != null)
                                            {
                                                reps = setReps.Reps.ToString();
                                                weight = setReps.Weight.ToString();
                                            }
                                        }
                                        <input class="input-weight-used form-control-sm input-changed exercise-reps" value="@reps" type="number" />
                                    </td>
                                    <td class="td-reps-duration">
                                        <input class="input-weight-used form-control-sm input-changed exercise-weight" value="@weight" type="number" />
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row margin-bottom-20px">
            <div class="col">
                <hr />
                @{
                    if (!Model.Complete)
                    {
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-1" role="group" aria-label="First group">
                                <button id="btnAddExercise" class="btn btn-sm btn-outline-primary btn-toolbar-width">Add Exercise</button>
                            </div>
                            <div class="btn-group mr-1" role="group" aria-label="First group">
                                <button id="btnMarkComplete" class="btn btn-sm btn-outline-secondary btn-toolbar-width">Finished</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<input hidden="hidden" value="@Model.Id" id="txtHiddenProgramId" />
<input hidden="hidden" value="@Model.Complete" id="txtWorkoutComplete" />
<script>
    $(document).ready(function () {

        if ($("#txtWorkoutComplete").val()) {
            $(".exercise-reps").each(function () {
                $(this).prop("disabled", true);
                $(this).removeClass("form-control-sm").addClass("form-control-plaintext");
            });
            $(".exercise-weight").each(function () {
                $(this).prop("disabled", true);
                $(this).removeClass("form-control-sm").addClass("form-control-plaintext");
            });
        }

        $(".btn-save-exercise").each(function () {
            $(this).hide();
        });

        if ($("#txtExerciseCount").val() == 0) {
            $("#tblExerciseSummary").hide();
            $("#btnMarkComplete").hide();
        };

        $("#divSuccess").hide();

        $("#btnAddExercise").click(function () {

            var programId = $("#txtHiddenProgramId").val();

            $(location).attr('href', '/Exercise/Exercise/' + programId);
        });

        $(".input-changed").change(function () {

            var reps = $(this).closest(".program-name").find(".exercise-reps").val();
            var weight = $(this).closest(".program-name").find(".exercise-weight").val();

            if (reps > 0 && weight > 0) {
                $(this).closest(".program-name").find(".btn-save-exercise").show();
            }
            else {
                $(this).closest(".program-name").find(".btn-save-exercise").hide();
            }
        });

        $(".btn-save-exercise").click(function () {

            var thisId = $(this);

            var programId = $("#txtHiddenProgramId").val();
            var exerciseId = $(this).closest(".program-name").attr("id");
            var set = $(this).closest(".program-name").find(".exercise-set").val();
            var reps = $(this).closest(".program-name").find(".exercise-reps").val();
            var weight = $(this).closest(".program-name").find(".exercise-weight").val();

            $.post("/ExerciseProgram/SaveExercise",
                {
                    programId: programId,
                    exerciseId: exerciseId,
                    set: set,
                    reps: reps,
                    weight: weight
                },
                function () {
                    //$("#divSuccess").show();
                    //$("#divSuccess").fadeOut(10000);
                    //$(".btn-save-exercise").each(function () {
                    //    $(this).hide();
                    //});
                    $(thisId).hide();
                });
        });

        $("#btnMarkComplete").click(function () {

            var programId = $("#txtHiddenProgramId").val();

            $.post("/ExerciseProgram/CompleteWorkout",
                {
                    programId: programId
                },
                function () {
                    $(location).attr('href', '/Home/Index/');
                });
        });
    });
</script>