@model IEnumerable<ExerciseProgram.Models.ViewModels.ProgramViewModel>

@{
    ViewBag.Title = "Create New Workout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnAddNewExercise").click(function () {
            alert("test");
        });

        $("#btnAddNewExerciseProgram").click(function () {
            alert("test program");
        });

        $("#ExerciseSelect").prop("disabled", true);

        $("#btnLoadNewProgram").click(function () {
            $("#mdlNewProgram").modal();
        });

        $("#btnBasicProgramInformation").click(function () {
            0
            $.ajax({
                url: '/ExerciseProgram/CreateExerciseProgram',
                dataType: "json",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Name: $("#WorkoutNameTxt").val(),
                    Description: $("#WorkoutNameTxt").val(),
                    StartDate: $("#dtStartDate").val(),
                    DurationInDays: $("#txtDurationInWeeks").val()
                },
                async: true,
                processData: true,
                cache: false
            });

            $("#mdlNewExerciseForProgram").modal();
        });

        $("#btnCancelCreateProgram").click(function () {
            $("#mdlCancelNewProgram").show();
        });

        $("#btnDismissProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
        });

        $("#btnConfirmProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
            $("#mdlNewProgram").hide();
        });

        $("#btnRecordWorkout").click(function () {
            $.ajax({
                url: '/ExerciseProgram/GetExerciseListForProgram',
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                async: true,
                processData: true,
                cache: false
            });
            $("#divAddWorkout").show();
        });
    });
</script>


<div class="panel panel-default col-md-12">
    <div class="panel-heading col-md-12">
        <h3>Available Programs</h3>
        <input id="txtSearch" type="text" placeholder="Search" />
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <table class="table table-hover">
                <tr>
                    <th class="col-md-4">
                        Program Name
                    </th>
                    <th class="col-md-2">
                        Days Per Week
                    </th>
                    <th class="col-md-2">
                        Program Length (Days)
                    </th>
                    <th class="col-md-2">
                        Date Added
                    </th>
                    <th class="col-md-2">
                    </th>
                </tr>
                <tbody>
                    @foreach (var program in Model)
                    {
                        <tr>
                            <td class="col-md-4">
                                @program.Name
                            </td>
                            <td class="col-md-2">
                                @program.DaysPerWeek
                            </td>
                            <td class="col-md-2">
                                @program.LengthInDays
                            </td>
                            <td class="col-md-2">
                                @program.StartDate.ToShortDateString()
                            </td>
                            <td class="col-md-2">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#divWorkoutDetails" data-id>
                                    <span class="glyphicon glyphicon-sunglasses"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-sm btn-primary" id="btnViewCurrentWorkout">Add Program</button>
    </div>
</div>

<div id="divWorkoutDetails" class="panel panel-default col-md-12">
    <div class="panel-heading col-md-12">
        <h3>@Model.Where(x => x.Id == 1).Select(y => y.Name).First() Program</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
        <table class="table table-hover">
            @{
                var program = Model.Where(x => x.Id == 1).First();
                var workoutDays = program.Exercises.Select(x => x.WorkoutDay).Distinct();
            }
            @foreach (var day in workoutDays)
            {
                <tr>
                    <th class="col-md-2">
                        Workout Day: @day
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        Exercise Description
                    </th>
                    <th class="col-md-2">
                        Exercise Type
                    </th>
                    <th class="col-md-2">
                        Sets
                    </th>
                    <th class="col-md-2">
                        Reps
                    </th>
                    <th class="col-md-2">
                        Duration
                    </th>
                </tr>
                <tbody>
                    @foreach (var exercise in program.Exercises.Where(x => x.WorkoutDay == day))
                    {
                        <tr>
                            <td class="col-md-2">
                                @exercise.Exercise.Description
                            </td>
                            <td class="col-md-2">                                
                                @exercise.Exercise.Type
                            </td>
                            <td class="col-md-2">
                                @exercise.Sets
                            </td>
                            <td class="col-md-2">
                                @exercise.Reps
                            </td>
                            <td class="col-md-2">
                                @{
                                    if (exercise.Exercise.Type == "Resistence Training")
                                    {
                                       
                                    }
                                    
                                }
                                @exercise.Duration
                            </td>
                        </tr>
                    }
                </tbody>

            }

        </table>
        }
    </div>
    <div class="panel-footer">
    </div>
</div>