@model ExerciseProgram.Models.ViewModels.ProgramViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>


<div class="container border">
    <div class="container border background-white margin-top-10px">
        <div class="row margin-top-10px">
            <div class="col-sm-12">
                <h3>@Model.Name</h3>
            </div>
            <div>
                <div class="col-sm-12">
                    10 Votes
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
        <div class="row margin-top-10px">
            <div class="col">
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
    <div class="container border background-white">
        <div class="row margin-top-10px padding-bottom-10px">
            <div class="col">
                @{
                    var programLength = Model.LengthInDays / 7;
                }
                <b>Emphasis:</b> Strength <br /> <br />
                <b>Days Per Week:</b> @Model.DaysPerWeek <br /> <br />
                <b>Program Length:</b> @programLength Weeks <br /> <br />
                <select class="form-control">
                    @for (var i = 1; i < 12; i++)
                    {
                        var week = $"Week {@i}";
                    <option>
                        <text class="ddl-workout-week">@week</text> (3 Days)
                    </option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row margin-top-10px">
        <div class="col">
            <div class="accordion" id="accordionExample">
                @{
                    var dayNumber = 0;
                    var rest = false;
                }
                @foreach (var day in Enum.GetNames(typeof(ExerciseProgram.Models.Enums.DayOfWeekEnum)))
                {
                    {
                        rest = Model.Exercises.Where(x => x.WorkoutDay.ToString() == day).Count() == 0;
                    }

                    var collapseId = $"collapse{day}";

                    if (rest)
                    {
                        <div id="divRestDay" class="card margin-top-10px border text-center rest-day">
                            <div class="card-header">
                                <h5>@day</h5>
                                <text>Rest Day</text>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card margin-top-10px border">
                            <div style="cursor:pointer" class="card-header workout-day-card-header text-center" id="headingOne" data-toggle="collapse" data-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                                <h5>@day</h5>
                                <text>
                                    Chest Day
                                </text>
                            </div>
                            <div id="@collapseId" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    @{
                                        dayNumber += 1;
                                    }
                                    <div class="row accordion" id="accordionExample2">
                                        <div class="col">
                                            <table class="table table-hover border">
                                                @foreach (var exercise in Model.Exercises.Where(x => x.WorkoutDay.ToString() == day))
                                                {
                                                    var exerciseId = $"{day}{exercise.Id}";
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <td style="cursor:pointer" colspan="12" class="card-header workout-day-card-header" id="headingOne" data-toggle="collapse" data-target="#@exerciseId" aria-expanded="true" aria-controls="@exerciseId">
                                                                <b> @exercise.Exercise.Description </b>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <thead>
                                                        <tr id="@exerciseId" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample2">
                                                            <th>
                                                                Set
                                                            </th>
                                                            <th>
                                                                Reps
                                                            </th>
                                                            <th>
                                                                Rest/Seconds
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    for (var i = 1; i <= exercise.Sets; i++)
                                                    {
                                                        <tr id="@exerciseId" class="collapse yellow-paper-background" aria-labelledby="headingOne" data-parent="#accordionExample2">
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @exercise.Reps
                                                            </td>
                                                            <td>
                                                                180
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>