@model IEnumerable<ExerciseProgram.Models.ViewModels.ProgramViewModel>

@{
    ViewBag.Title = "Create New Workout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#tbl-4").hide();
        $("#tbl-5").hide();
        $("#tbl-6").hide();
        $("#tbl-7").hide();

        $("#btnNextDay").click(function () {

            var showDays = parseInt($("#txtShowDayTables").val());

            if (showDays < 3) {
                $("#txtShowDayTables").val(parseInt(showDays) + 1);
            }

            showDays = parseInt($("#txtShowDayTables").val());

            if (showDays === 1) {
                $("#tbl-1").show();
                $("#tbl-2").show();
                $("#tbl-3").show();

                $("#tbl-4").hide();
                $("#tbl-5").hide();
                $("#tbl-6").hide();

                $("#tbl-7").hide();
            }
            else if (showDays === 2) {
                $("#tbl-1").hide();
                $("#tbl-2").hide();
                $("#tbl-3").hide();

                $("#tbl-4").show();
                $("#tbl-5").show();
                $("#tbl-6").show();

                $("#tbl-7").hide();
            }
            else if (showDays === 3) {
                $("#tbl-1").hide();
                $("#tbl-2").hide();
                $("#tbl-3").hide();

                $("#tbl-4").hide();
                $("#tbl-5").hide();
                $("#tbl-6").hide();

                $("#tbl-7").show();
            }
        });

        $("#btnPreviousDay").click(function () {

            var showDays = parseInt($("#txtShowDayTables").val());

            if (showDays > 1) {
                $("#txtShowDayTables").val(parseInt(showDays) - 1)
            }

            showDays = parseInt($("#txtShowDayTables").val());

            if (showDays === 1) {
                $("#tbl-1").show();
                $("#tbl-2").show();
                $("#tbl-3").show();

                $("#tbl-4").hide();
                $("#tbl-5").hide();
                $("#tbl-6").hide();

                $("#tbl-7").hide();
            }
            else if (showDays === 2) {
                $("#tbl-1").hide();
                $("#tbl-2").hide();
                $("#tbl-3").hide();

                $("#tbl-4").show();
                $("#tbl-5").show();
                $("#tbl-6").show();

                $("#tbl-7").hide();
            }
            else if (showDays === 3) {
                $("#tbl-1").hide();
                $("#tbl-2").hide();
                $("#tbl-3").hide();

                $("#tbl-4").hide();
                $("#tbl-5").hide();
                $("#tbl-6").hide();

                $("#tbl-7").show();
            }
        });

        $("#btnAddNewExercise").click(function () {
            alert("test");
        });

        $("#btnAddNewExerciseProgram").click(function () {
            alert("test program");
        });

        $("#ExerciseSelect").prop("disabled", true);

        $("#btnLoadNewProgram").click(function () {
            $("#mdlNewProgram").modal();
        });

        $("#btnBasicProgramInformation").click(function () {

            $.ajax({
                url: '/ExerciseProgram/CreateExerciseProgram',
                dataType: "json",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Name: $("#WorkoutNameTxt").val(),
                    Description: $("#WorkoutNameTxt").val(),
                    StartDate: $("#dtStartDate").val(),
                    DurationInDays: $("#txtDurationInWeeks").val()
                },
                async: true,
                processData: true,
                cache: false
            });

            $("#mdlNewExerciseForProgram").modal();
        });

        $("#btnCancelCreateProgram").click(function () {
            $("#mdlCancelNewProgram").show();
        });

        $("#btnDismissProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
        });

        $("#btnConfirmProgramCancel").click(function () {
            $("#mdlCancelNewProgram").hide();
            $("#mdlNewProgram").hide();
        });

        $("#btnRecordWorkout").click(function () {
            $.ajax({
                url: '/ExerciseProgram/GetExerciseListForProgram',
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                async: true,
                processData: true,
                cache: false
            });
            $("#divAddWorkout").show();
        });

        $("[name='btnViewProgram']").click(function () {

            var id = $(this).parent().parent().attr("id");

            $("#txtHidden").val(id)

            alert($("#txtHidden").val());

            $.ajax({
                url: '/ExerciseProgram/CreateExerciseProgram',
                dataType: "json",
                type: "POST",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Name: $("#WorkoutNameTxt").val(),
                    Description: $("#WorkoutNameTxt").val(),
                    StartDate: $("#dtStartDate").val(),
                    DurationInDays: $("#txtDurationInWeeks").val()
                },
                async: true,
                processData: true,
                cache: false
            });
        });

    });
</script>


<div class="container border margin-top-10px padding-top-10px">
    <div class="row">
        <div class="col-sm">
            <h3>Programs</h3>
        </div>
        <div class="col-sm text-right">
            <input id="txtSearch" type="text" placeholder="Search Program Name" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            @using (Html.BeginForm())
            {

                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Days Per Week
                            </th>
                            <th>
                                Weeks
                            </th>
                            <th>
                                Added
                            </th>
                            <th>
                                Current
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        @foreach (var program in Model)
                        {
                            <tr id="tr @program.Id">
                                <td>
                                    @program.Name
                                </td>
                                <td>
                                    @program.DaysPerWeek
                                </td>
                                <td>
                                    @{var programLength = program.LengthInDays / 7;}
                                    @programLength
                                </td>
                                <td>
                                    @program.StartDate.ToShortDateString()
                                </td>
                                @{
                                    if (program.StartDate < DateTime.Now && (program.EndDate == null || program.EndDate > DateTime.Now))
                                    {
                                        <td>&#x2714;</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary btn-sm">Add Program</button>

            </div>
        </div>
        <div class="col-sm text-right">
            <button class="btn btn-primary btn-sm">
                <<
            </button>
            <button class="btn btn-primary btn-sm">
                >>
            </button>
        </div>
    </div>

</div>

<div class="margin-top-10px padding-top-10px">
    @Html.Partial("~/Views/ExerciseProgram/_ExerciseProgramDetail.cshtml", Model.Where(x => x.Id == 1).First())
</div>


