@model ExerciseProgram.Models.ViewModels.SubscriberProfileViewModel

@{
    /**/

    ViewBag.Title = "My Workout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container">
    <div class="container border margin-top-20px background-white-smoke">
        <div class="row margin-top-20px">
            <div class="col-sm-offset-2 col-sm-12 margin-bottom-20px">
                @{
                    var todaysDate = @DateTime.Today.ToString("MM/dd/yyyy");
                    var headerText = $"{DateTime.Today.DayOfWeek}'s Workout";
                }
                <h4> @headerText </h4>
                @{
                    var workoutScheduled = Model != null ? "yes" : "no";
                }
                <p id="pWorkoutScheduled">
                    <br />
                    <b>Name:</b> @Model.CurrentWorkoutName
                    <br />
                    <b>Exercises:</b> @Model.CurrentWorkoutExerciseCount
                    <br /> <br />
                    <a id="aWorkoutScheduled" class="btn btn-outline-primary home-page-button" href="#">Go to workout &raquo;</a>
                    <br />
                </p>
                <p id="pNoWorkoutScheduled">
                    <br />
                    No workout scheduled for today.
                    <br /><br />
                    <a id="aNoWorkoutScheduled" class="btn btn-outline-primary home-page-button" href="~/ExerciseProgram/CreateExerciseProgram">Create Workout</a>
                </p>
                <input id="txtWorkoutScheduled" hidden="hidden" value=@workoutScheduled />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="container border margin-top-20px background-white-smoke">
        <div class="row margin-top-20px">
            <div class="col-sm-offset-2 col-sm-12 margin-bottom-20px">
                <h4>
                    Workout History
                </h4>
                <p>
                    <br />
                    <b>This Week:</b> @Model.WorkoutsCompletedWeek
                    <br />
                    <b>This Month:</b> @Model.WorkoutsCompletedMonth
                    <br />
                    <b>This Year:</b> @Model.WorkoutCompletedYear
                    <br />
                    <br />
                    <a class="btn btn-outline-primary home-page-button" href="~/ExerciseProgram/ExercisePrograms">View Past Workouts &raquo;</a>
                </p>                            
            </div>
        </div>
    </div>
</div>
<input hidden="hidden" id="txtProgramId" value="@Model.CurrentProgramId" />
<script>
    $(document).ready(function () {

        if ($('#txtWorkoutScheduled').val() === 'yes') {
            
            $('#pNoWorkoutScheduled').hide();
            $('#pWorkoutScheduled').show();
        }
        else {
            $('#pNoWorkoutScheduled').show();
            $('#pWorkoutScheduled').hide();
        }

        $("#aWorkoutScheduled").click(function () {
            var programId = $("#txtProgramId").val();
            $(location).attr('href', '/ExerciseProgram/ExerciseProgramDetail/' + programId);
        });
    });
</script>