@model IEnumerable<ExerciseProgram.Models.ViewModels.ExerciseViewModel>

@{
    ViewBag.Title = "Create New Workout";
}
<h2 class="text-center">@ViewBag.Title</h2>

    <div class="col-md-12 jumbotron row">
        <div class="row">
            <div class="col-md-4">
                @Html.Label("WorkoutNameTxt", "Workout Name")
                <input id="WorkoutNameTxt" class="form-control" type="text" />
            </div>
            <div class="col-md-4">
                @Html.Label("WorkoutTimeSpan", "Number of Weeks")
                <input id="WorkoutTimeSpan" class="form-control" type="number" />
            </div>
            <div class="col-md-4">
                @Html.Label("DaysPerWeek", "Days per Week")
                <input id="DaysPerWeek" class="form-control" type="number" />
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("WorkoutDescriptionTxt", "Description")
                    <textarea id="WorkoutDescriptionTxt" class="form-control" col rows="3"></textarea>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" id="btnAddNewExerciseProgram" value="Create Program" class="btn btn-primary" />
                </div>
            </div>
        </div>


    <div class="col-md-12 jumbotron row">
        <div class="row">
            <div class="col-md-3">
                @Html.Label("MuscleGroupSelect", "Muscle Group")
                @Html.DropDownList("MuscleGroupSelect",
                            new SelectList(Model.Select(x => x.MuscleGroupNickName)),
                            "---Select Muscle Group---",
                            new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("ExerciseSelect", "Exercise")
                @Html.DropDownList("ExerciseSelect",
                            new SelectList(Model.Select(x => x.ExerciseDescription)),
                            "---Select Exercise---",
                            new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("RepitionsInput", "Repititions")
                <input id="RepitionsInput" class="form-control" type="number" />
            </div>
            <div class="col-md-3">
                @Html.Label("SetsInput", "Sets")
                <input id="SetsInput" class="form-control" type="number" />
            </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" id="btnAddNewExercise" value="Add Exercise" class="btn btn-primary" />
                </div>
            </div>
        </div>


<table class="table">
    <tr>
        <th>
            Exercise
        </th>
        <th>
            Exercise Category
        </th>
        <th>
            Muscle Group
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseTypeNickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleGroupNickName)
            </td>
            <td>
                @*  *@
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
