@model ExerciseProgram.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "";
}

@*ToDo: Better sytle*@
<h2 class="text-center">My Profile</h2>;

<div class="col-md-12 jumbotron row">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">
                @Html.Label("DobTxt", "Date of Birth")
                <input type="text" readonly id="DobTxt" value=@Model.DateOfBirth.ToShortDateString() class="form-control" />
            </div>
            <div class="col-md-4">
                @Html.Label("DateJoinedTxt", "Member Since")
                <input type="text" readonly id="DateJoinedTxt" value=@Model.DateJoined.ToShortDateString() class="form-control" />
            </div>
            <div class="col-md-4">
                @Html.Label("EmailTxt", "Email Address")
                @Html.EditorFor(g => g.EmailAddress, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("HeightTxt", "Height")
                @Html.EditorFor(g => g.Height, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-4">
                @Html.Label("WeightTxt", "Weight")
                @Html.EditorFor(g => g.Weight, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-4">
                @Html.Label("BmiTxt", "BMI")
                <input type="text" readonly id="BmiTxt" value=@Model.BodyMassIndex class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Label("OptInToLeaderBoard", "Leader Board Opt In")
                @*ToDo: Drop to second row*@
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Yes",
                        Value = "Yes"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "No",
                        Value = "No",
                        Selected = true
                    });
                }

                @Html.DropDownList("OptInDdl", listItems, new { htmlAttributes = new { @class = "form-control" } })


                @*ToDo: Add tool tip text*@
            </div>
            <div class="col-md-4">
                @*ToDo: Disable unless "yes" is checked*@
                @Html.Label("AliasTxt", "Leader Board Alias")
                <input type="text" id="AliasTxt" value="" class="form-control" />
                @*aToDo: Add tool tip text*@
            </div>           
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" name="response" value="Update Profile" formaction=@Url.Action("UpdateProfile",  new { weight = Model.Weight, height = Model.Height, emailAddress = Model.EmailAddress }) formmethod="post" class="btn btn-success" />
            </div>
        </div>
    }
</div>

        @*ToDo: Add Paging - 5 per page*@
        @*ToDo: Better style on "Historical Weight"*@
        <h2 class="text-center">Historical Weight</h2>
        <div class="jumbotron col-md-12 row">
            <div class="container">
                @using (Html.BeginForm())
                {
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                BMI
                            </th>
                        </tr>
                        <tbody>
                            @foreach (var item in Model.WeightHistory)
                            {
                                <tr>
                                    <td>
                                        <input type="text" readonly value=@item.CreateDate.ToShortDateString() class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" readonly value=@item.WeightInPounds class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" readonly value=@item.Bmi class="form-control" />
                                    </td>
                                    <td>
                                        <input type="submit" name="btnDeleteWeight" value="Delete" formaction=@Url.Action("DeleteUserWeightEntry",  new { id = item.Id }) formmethod="post" class="btn btn-danger" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
