<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


</script>

<div class="col-sm-12 row">
    <div class="col-sm-10 row">
        <div class="col-sm-10 form-group">
            @Html.Label("WorkoutNameTxt", "Workout Name")
            <input id="WorkoutNameTxt" class="form-control" type="text" placeholder="Workout Name" required/>
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("WorkoutDescriptionTxt", "Description")
            <textarea id="WorkoutDescriptionTxt" class="form-control" col rows="3" placeholder="Workout Description"></textarea>
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("lblDurationInWeeks", "Number of Weeks")
            <input id="txtDurationInWeeks" class="form-control" type="number" placeholder="Number of Weeks" required />
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("lblWorkoutDays", "Select Days") <br />
            @Html.CheckBox("chkSunday", 1) Su
            @Html.CheckBox("chkMonday", 2) Mo
            @Html.CheckBox("chkTuesday", 3) Tu
            @Html.CheckBox("chkWednesday", 4) We <br />
            @Html.CheckBox("chkThursday", 5) Th
            @Html.CheckBox("chkFriday", 6)  Fr
            @Html.CheckBox("chkSatudray", 7) Sa
        </div>
        <div class="col-sm-10 form-group">
            @Html.Label("lblStartDate", "Start Date")
            <input id="dtStartDate" class="form-control" type="date" />
        </div>
    </div>
</div>